@font-face {
  font-family: "gothampro";
  src: url("../src/fonts/gothampro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "gothampro";
  src: url("../src/fonts/gothampro_black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "gothampro";
  src: url("../src/fonts/gothampro_bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "gothampro";
  src: url("../src/fonts/gothampro_medium.ttf") format("truetype");
  font-weight: 500;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "gothampro", Sans-serif;
}

.header {
  background: #FFD1AC;
  text-align: center;
  color: #2C2B31;
}
.header-titer {
  text-align: center;
  font-size: 0.79338rem;
  text-transform: uppercase;
  background: #F19D2F;
  padding: 0.88rem 0.69rem;
  position: relative;
  margin-bottom: 1.19rem;
  font-weight: 500;
}
.header-titer::before, .header-titer::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../src/icons/za.png") center/100% no-repeat;
  width: 0.79338rem;
  height: 0.79338rem;
}
.header-titer::before {
  left: 5%;
}
.header-titer::after {
  right: 2%;
}
.header-logo {
  display: block;
  margin-bottom: 1.19rem;
  position: relative;
}
.header-banner {
  background: url(../src/image/bg-banner.png) 54% 63%/145% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 17.5rem;
  color: #fff;
  padding: 0.88rem 0.81rem;
}
.header-banner-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5625rem 0.44381rem;
  gap: 0.634rem;
  border-radius: 0.44381rem;
  font-weight: 700;
  text-transform: uppercase;
  height: 3.625rem;
}
.header-banner-offer {
  background: #F19D2F;
  min-width: 6.8rem;
}
.header-banner-offer .offer-title {
  font-size: 0.66244rem;
}
.header-banner-offer .offer-time {
  font-size: 1.32838rem;
}
.header-banner-price {
  padding: 0.4055rem 0.43869rem 0.35481rem 0.43869rem;
  background: #37D997;
  gap: 0.50694rem;
}
.header-banner-price .old-price {
  position: relative;
  font-size: 1.12981rem;
}
.header-banner-price .old-price::before {
  content: "";
  position: absolute;
  width: 5.5625rem;
  height: 0.21963rem;
  background: #E27500;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header-banner-price .new-price {
  font-size: 1.39381rem;
}

.product {
  padding: 0.69rem 1rem;
  background: #F0F0F0;
}
.product-trust {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.25rem;
}
.product-trust_rate {
  font-size: 0.75419rem;
  color: #2C2B31;
}
.product-trust_logo {
  width: 4.5rem;
}
.product-trust_link {
  color: #37D997;
  font-size: 0.75419rem;
}
.product-card {
  margin-bottom: 1.25rem;
}
.product-title {
  margin-bottom: 1.25rem;
  color: #2C2B31;
  font-size: 1.198rem;
  text-transform: uppercase;
}
.product-slider-cards {
  min-width: 22.375rem;
  min-height: 14.5rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
}
.product-slider-container {
  width: 400%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-slider-card {
  width: 100%;
}
.product-slider-card img {
  border-radius: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.product-slider-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.75rem;
  margin-bottom: 1.25rem;
}
.product-slider-items .active {
  opacity: 0.4;
}
.product-slider-item {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  min-width: 5rem;
  min-height: 4.125rem;
}
.product-slider-item img {
  border-radius: 0.63rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-info {
  font-size: 0.95563rem;
  margin-bottom: 0.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.product-info_type {
  font-weight: 700;
}
.product-info::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../src/icons/za.png") center/100% no-repeat;
  width: 0.79338rem;
  height: 0.79338rem;
}
.product-info:last-of-type {
  margin-bottom: 0;
}
.product-rate {
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.62rem;
}
.product-rate_text {
  color: #2C2B31;
  font-size: 0.95563rem;
}
.product-rate_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.product-rate_container[data-total-value="1"] .product-rate_item:nth-child(n+5), .product-rate_container[data-total-value="2"] .product-rate_item:nth-child(n+4), .product-rate_container[data-total-value="3"] .product-rate_item:nth-child(n+3), .product-rate_container[data-total-value="4"] .product-rate_item:nth-child(n+2), .product-rate_container[data-total-value="5"] .product-rate_item:nth-child(n+1) {
  color: #F8B656;
}
.product-rate_item {
  color: #dcdcdc;
  cursor: pointer;
  font-size: 1.35rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.product-rate_item:hover, .product-rate_item:hover ~ .product-rate_item {
  color: #6a6a6a;
}
.product-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem 1.25rem;
}
.product-form-chose {
  min-width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 0.25rem;
  font-size: 0.625rem;
  color: #2C2B31;
}
.product-form-select {
  width: 100%;
  height: 3.125rem;
  border-radius: 0.94rem;
  text-align: center;
  color: #2C2B31;
  font-weight: 700;
  font-size: 1.35563rem;
  text-transform: uppercase;
  outline: none;
  border: none;
  background: url("../src/icons/arrow.svg") 90%/1.1rem no-repeat, #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.product-form-select option {
  font-size: 0.75rem;
  font-weight: 400;
}
.product-form-submit {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 0.94rem;
  background: #37D997;
  outline: none;
  border: none;
  color: #FFF;
  font-size: 1.875rem;
  text-transform: uppercase;
  padding: 0.64rem;
  font-weight: 500;
}